<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google" content="notranslate" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link rel="shortcut icon" type="image/png" href="./assets/favicon/favicon.ico" />
    <title>Portfolio</title>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <aside class="flex">
      <header class="box profile flex">
        <figure class="flex">
          <img
            src="https://github.com/mgckaled.png?size=128"
            alt="Marcel avatar image from github profile"
          />
          <figcaption>
            <h1>Marcel Kaled</h1>
            <small>Web Developer</small>
          </figcaption>
        </figure>
      </header>
      <section>
        <ul class="contact box flex">
          <li>
            <img src="./assets/icons/map-pin.svg" alt="Local" />
            <a href="#">
              <p>Brasil</p>
            </a>
          </li>
          <li>
            <img src="./assets/icons/briefcase.svg" alt="Local de Trabalho" />
            <a href="#">
              <span>Estudando</span>
            </a>
          </li>
          <li>
            <img src="./assets/icons/github.svg" alt="GitHub" />
            <a href="https://github.com/mgckaled/">
              <span>mgckaled</span>
            </a>
          </li>
          <li>
            <img src="./assets/icons/linkedin.svg" alt="Linkedin" />
            <a href="">
              <span>Marcel Kaled</span>
            </a>
          </li>
          <li>
            <img src="./assets/icons/twitter.svg" alt="Twitter" />
            <a href="#">
              <span>mgckaled</span>
            </a>
          </li>
          <li>
            <img src="./assets/icons/globe.svg" alt="Website" />
            <a href="#"> <span>mgck_test@gmail.com</span> </a>
          </li>
          <li>
            <img src="./assets/icons/mail.svg" alt="Email" />
            <a href="#">
              <span>mgck_test@gmail.com</span>
            </a>
          </li>
        </ul>
      </section>
      <section class="tech box">
        <h2>Tecnologias</h2>
        <ul>
          <li>
            <h6>html</h6>
          </li>
          <li>
            <h6>css</h6>
          </li>
          <li>
            <h6>git</h6>
          </li>
          <li>
            <h6>github</h6>
          </li>
          <li>
            <h6>javascript</h6>
          </li>
          <li>
            <h6>typescript</h6>
          </li>
          <li>
            <h6>react</h6>
          </li>
          <li>
            <h6>reactnative</h6>
          </li>
          <li>
            <h6>node.js</h6>
          </li>
        </ul>
      </section>
      <section class="list box">
        <h2>Experiência</h2>
        <ul>
          <li>
            <span class="t-regular-list">Rocketseat</span>
            <span class="t-light-list">10/20222</span>
            <span class="t-light-list">Discover</span>
          </li>
        </ul>
      </section>
      <section class="list box">
        <h2>Educação</h2>
        <ul>
          <li>
            <span class="t-regular-list">Rocketseat</span>
            <span class="t-light-list">10/20222</span>
            <span class="t-light-list">Discover</span>
          </li>
        </ul>
      </section>
    </aside>
    <main class="flex">
      <div class="proj-post box flex animation">
        <h2>My Projects</h2>
        <a href="https://github.com/mgckaled?tab=repositories" target="_blank" rel="noopener noreferrer">
          <p>Veja todos</p>
        </a>
      </div>

      <div class="repos flex animation">
        <div class="repo box animation">
          <h3 class="flex">
            <img src="./assets/icons/folder.svg" width="20px" alt="Pasta" />
            my-onix
          </h3>
          <p class="description">Consulte os códigos de erro que aparecem no painel do veículo Onix.</p>
          <div class="repo-data flex">
            <div class="star-branch flex">
              <img src="./assets/icons/star.svg" width="20px" alt="Estrela" />
              <p>100</p>

              <img src="./assets/icons/git-branch.svg" width="20px" alt="Git-Branch" />
              <p>100</p>
            </div>
            <div class="code flex">
              <div class="canva"></div>
              <p>JavaScript</p>
            </div>
          </div>
        </div>

        <div class="repo box animation">
          <h3 class="flex">
            <img src="./assets/icons/folder.svg" width="20px" alt="Pasta" />
            my-onix
          </h3>
          <p class="description">Consulte os códigos de erro que aparecem no painel do veículo Onix.</p>
          <div class="repo-data flex">
            <div class="star-branch flex">
              <img src="./assets/icons/star.svg" width="20px" alt="Estrela" />
              <p>100</p>

              <img src="./assets/icons/git-branch.svg" width="20px" alt="Git-Branch" />
              <p>100</p>
            </div>
            <div class="code flex">
              <div class="canva"></div>
              <p>JavaScript</p>
            </div>
          </div>
        </div>
      </div>

      <div class="proj-post box animation">
        <div>
          <h2>Recent Posts</h2>
        </div>
      </div>
    </main>

    <footer class="flex">
      <p>Feito com muito 💜 por Marcel Kaled</p>
    </footer>
  </body>
</html>
