<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google" content="notranslate" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link rel="shortcut icon" type="image/png" href="./assets/favicon/favicon.ico" />
    <title>Portfolio</title>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <aside class="flex">
      <header class="box profile flex">
        <figure>
          <img
            src="https://github.com/mgckaled.png?size=128"
            alt="Marcel avatar image from github profile"
          />
          <figcaption>
            <h1>Marcel Kaled</h1>
            <small>Web Developer</small>
          </figcaption>
        </figure>
      </header>
      <section class="box">
        <ul class="contact flex">
          <li>
            <img src="./assets/icons/map-pin.svg" alt="Local" />
            <a href="#">
              <p>Brasil</p>
            </a>
          </li>
          <li>
            <img src="./assets/icons/briefcase.svg" alt="Local de Trabalho" />
            <a href="#">
              <p>Estudando</p>
            </a>
          </li>
          <li>
            <img src="./assets/icons/github.svg" alt="GitHub" />
            <a href="https://github.com/mgckaled/">
              <p>mgckaled</p>
            </a>
          </li>
          <li>
            <img src="./assets/icons/linkedin.svg" alt="Linkedin" />
            <a href="">
              <p>Marcel Kaled</p>
            </a>
          </li>
          <li>
            <img src="./assets/icons/twitter.svg" alt="Twitter" />
            <a href="#">
              <p>mgckaled</p>
            </a>
          </li>
          <li>
            <img src="./assets/icons/globe.svg" alt="Website" />
            <a href="#"> <p>mgck_test@gmail.com</p> </a>
          </li>
          <li>
            <img src="./assets/icons/mail.svg" alt="Email" />
            <a href="#">
              <p>mgck_test@gmail.com</p>
            </a>
          </li>
        </ul>
      </section>
      <section class="tech box">
        <h4>Tecnologias</h4>
        <ul>
          <li>
            <h6>
              html
            </h6>
          </li>
          <li>
            <h6>
              css
            </h6>
          </li>
          <li>
            <h6>
              git
            </h6>
          </li>
          <li>
            <h6>
              github
            </h6>
          </li>
          <li>
            <h6>
              javascript
            </h6>
          </li>
          <li>
            <h6>
              typescript
            </h6>
          </li>
          <li>
            <h6>
              react
            </h6>
          </li>
          <li>
            <h6>
              reactnative
            </h6>
          </li>
          <li>
            <h6>
              node.js
            </h6>
          </li>
        </ul>
      </section>
    </aside>
    <main></main>
  </body>
</html>
