{
  "semi": false,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 105,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "crlf",
  "bracketSpacing": true
}
